@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/*seccion productos*/
#seccionProductos{
  background-color: #FFCAF7;
  text-align: center;
  font-family: 'Montserrat', sans-serif; 
}
#seccionProductos h2{
  position: relative;
  top: 50%;
}

/*carrusel*/
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.slider {
  display: flex;
  transition: transform 0.5s;
  
}

.slide {
  flex: 0 0 33.33%;
  padding: 10px;
}

.slide img {
  max-width: 60%;
  height: 60%;
  border-radius: 50%;
}
.slide p{
  font-size: 20px;
}
.slide button {
  padding: 15px 80px;
  border-radius: 5px;
  border: 1px solid #F215D1;
  font-weight: 400;
  font-size: 23;
  background-color: #ffffff;
  color: #F489E4;
  box-shadow: 0px 0px 10px 0px #ffffff7c;
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  color: #F215D1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
/*carrusel*/
/*navbar*/

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  /*width: 100%;
  height: 50px;
  z-index: 12;*/
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 5px 10px 0px #fff;

  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}
.navbar ul {
  margin: 10px 80px;
  padding: 30px;
}

.navbar img {
  height: 80%;
  margin: 2px 0px 0px 150px;
  weight: auto;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.menu-items a.inicio {
  color: #F489E4; 
  font-weight: bold;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

/*responsive navbar*/

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
    position: fixed;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
   
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
    
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  /* ......./ food /......... */

  .food-container {
    flex-direction: column;
    align-items: stretch;
  }

  .food-type:not(:last-child) {
    margin-bottom: 3rem;
  }

  .food-type {
    box-shadow: 5px 5px 10px 0 #aaa;
  }

  .img-container {
    margin: 0;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .food-menu-container img {
    margin: auto;
  }

  .food-menu-item {
    flex-direction: column;
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}

/*fin navbar*/
/*seccion inicio*/
#seccionInicio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
  padding: 20px;
  overflow: hidden;
  height: 100%;
}

.descripcion {
  width: 50%;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  text-align: center;
}
.descripcion h1{
  font-size: 40px;
}
.descripcion p{
  font-size: 20px;
}
.producto  {
  max-width: 50%;
  height: auto;
}
.producto img {
  max-width: 120%;
  height: auto;
  margin-left: -100px;
}

#seccionInicio .descripcion button {
  padding: 15px 80px;
  background-color: #F215D1;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 23;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px #ffffff7c;
  cursor: pointer;
}

.circulos {
  position: absolute;
  border-radius: 100%;
}

.circulo-uno {
  background-color: #FEE6C9; 
  top: 2%; 
  left: -3%; 
  width: 22%; 
  height: 45%;
  z-index: -1;
}
.circulo-dos {
  background-color: #FEE6C9; 
  top: 30%; 
  left: 50%; 
  width: 32%; 
  height: 75%;
  z-index: -1;
}
.circulo-tres {
  background-color: #FFCAF7; 
  top: -15%; 
  left: 70%; 
  width: 32%; 
  height: 70%;
  z-index: -2;
}


@media only screen and (min-width: 600px) {
  #seccionInicio {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .descripcion {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  #seccionInicio .descripcion {
    width: 80%;
  }

  #seccionInicio .producto {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .circulos {
    position: relative;
  }

  .circulo-uno,
  .circulo-dos,
  .circulo-tres {
    position: absolute;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
  }
}
/*fin seccion inicio*/
/*quienes somos*/
#seccionQuienesSomos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imagen {
  flex: 1;
  max-width: 30%;
  height: 100%;
}

.desc {
  flex: 1;
  padding: 10px;
  max-width: 70%;
  font-family: 'Montserrat', sans-serif;
  
}

.desc p{
  font-size: 20px;
  text-align: justify;
  padding: 50px;
}

.imagen img {
  max-width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  #seccionQuienesSomos {
    flex-direction: column;
  }

  .imagen,
  .desc {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .imagen {
    max-width: 100%;
    
  }
}
/*fin quienes somos*/
/*footer*/
footer {
  justify-content:center;
  align-items: center;
  background-color: #FFCAF7;
  font-family: 'Montserrat', sans-serif;
}

footer img {
  max-width: 100px;
  
}
footer ul {
  list-style: none;
}
footer a {
  text-align: left;
  text-decoration: none; 
  color: black;
}

footer > div {
  width: 30%;
  height: 30%;
  display: inline-block;
 
}

footer .copiright {
  clear: both;
  text-align: center;
  padding: 10px;
}

.logo-footer,
.menu,
.redesSociales {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 10px;
  text-align: center;
}


.redesSociales i {
  font-size: 2em; 
  margin: 0 10px; 
}

@media (max-width: 768px) {

  .logo-footer,
  .menu,
  .redesSociales {
    flex-basis: 100%;
  }
}

/*fin footer*/



@media (max-width: 768px) {
 
  .slide {
    flex: 0 0 50%;
    padding: 10px;
  }

  .slide img {
    max-width: 50%;
    height: 50%;
  }

  .slide p {
    font-size: 18px;
  }

  .slide button {
    padding: 10px 40px;
    font-size:12px;
  }
}

@media (max-width: 480px) {
  .slide {
    flex: 0 0 100%;
  }

  .slide img {
    max-width: 50%;
    height: 50%;
  }

  .slide p {
    font-size: 16px;
  }

  .slide button {
    padding: 8px 30px;
    font-size: 12px;
  }
}

/*login*/
.main-frame-dat{
  width: 50%;
  padding: 50px;
  height: 406px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px #F215D1;
  background-color: #FEE6C9;
  margin: 7% auto;
}
.main-frame-dat label{
  font-weight: bold;
}
.boton{
  float:right;
  padding: 15px 80px;
  border-radius: 5px;
  border: 1px solid #F215D1;
  font-weight: 400;
  font-size: 23;
  background-color: #ffffff;
  color: #F489E4;
  cursor: pointer;
}
/*editar-crear*/
.tabla{ 
  padding: 20px ;
}

.main-frame-crear{
  width: 50%;
  padding: 50px;
  height: 600px;
  border-radius: 30px; 
  background-image: url('../img/prod15.jpg');
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px 0px #0a0a0a;
  margin: 7% auto;
 
  background-size: cover;
}
.main-frame-crear label{
  font-weight: bold;
}